<!DOCTYPE html>
<html>
<head>
	<title>Photobooth</title>
</head>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
	<h1>VÄLKOMMEN TILL DITT EGET PHOTOBOOTH!</h1>
	<h2> Ta ett foto! Blev det bra? Spara och skicka det. Blev det dåligt? Släng det och börja om igen</h2>
	
	<div class ="video">
	<video id="video">Video</video>
	<img id="bild"></img>
	<canvas id="Canvas"></canvas></div>
	
	<remove id="remove"></remove>
	
	<button class a href="#" id="takeSnapshot">Ta snapshot</a></button>
    <button class a href="#" id="removeSnapshot">Släng snapshot</a></button>
    <button class a href="#" id="saveSnapshot">Spara snapshot</a></button>

</body>
<script src="javascript/index.js"></script>
</html>


